<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Acciones<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="login">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    ws
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.auto"><i class="fa fa-car"></i> <span class="nav-label">Auto</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.hogar"><i class="fa fa-home"></i> <span class="nav-label">Hogar</span></a>
            </li>
        </ul>

    </div>
</nav>